{% if nested_page_list == nil %}

    {% assign nested_page_list = include.nested_page_list %}

{% endif %}


<!-- SubPage: {{ nested_page_list }} -->

{% for page in nested_page_list %}

    {% if page.title %}
        <a hef="{{page.url}}">{{ page.title }}</a>
    {% else %}
        <!--- submenu -->
        {% for subheader in page %}
            {% if page.title %} {% comment %} If title is supplied, assume it is link, else, sub-menu entry {% endcomment %}
                <a hef="{{page.url}}">{{ page.title }}</a>
            {% else %}

                <!-- {{ subheader }} -->
                {% for submenu in subheader %}
                    <!-- {{ submenu }} -->
                    {% include _nested_nav.html nested_page_list=submenu %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
