<p><br/></p>

<h2>Note: As of the end of December 2018, our site has changed hosts and some architecture. As a result, all tutorials are now have a /tutorials in their paths. You will need to update bookmarks.</h2>

<h2><button onclick="document.getElementById('id01').style.display='block'"
class="w3-btn">Our Future . . .(please read)</button></h2>
<!-- The Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <header class="w3-container w3-red"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-btn w3-display-topright">&times;</span>
        <h2 class="w3-text-black">Our Future . . .</h2>
    </header>
  
    <div class="w3-container">
        <p>When I initially created this site in 2014, it was to serve two primary purposes.</p>
        <p>
            <ol>
                <li>To document the tips, tricks, and other higher level development practices that make programming for FRC in LabVIEW easier.</li>
                <li>Provide a common place for LabVIEW teams to find resources.</li>
            </ol>
        </p>
        <p>At first, this meant documenting the architectural and similar tools that I had learned on my way to becoming a Certified LabVIEW Developer, that had been put to use by the team I was currently mentoring (#3937, Breakaway). (This had the added bonus of helping the senior programmer that had been soaking all this up document it for his successor.)</p>
        <p>Since then, this site has had a few additions and updates (mostly by me).</p>
        <p>While I have often invited other teams (I am no longer in the AR area and have pretty much lost contact with Breakaway) on CD and at the regionals I've been at to write tutorials for specific topics that they had solved, I was rarely met with a response (specifically once - shout out to the Huskie Robotics 3061 for actually following through, but they were the only ones).</p>
        <p>&nbsp;</p>
        <p>In recent years, I have found myself going through some family changes and needing to dial back my commitment to other activities.</p>
        <p>This leaves this site both:
            <ol type="A">
                <li>Looking for a new champion/curator, that is willing to:
                    <ul>
                        <li>maintain the back end,</li>
                        <li>make sure material that becomes obsolete is either updated, or moved to the archives section of the menu,</li>
                        <li>and either write content or get other teams to write content to help this site remain relevant.</li>
                    </ul>
                </li>
                <li><strike>Looking for a new source of funding/hosting. (I have been personall providing the $36/yr that it costs to maintain it using Google Domains for the domain name - and email - and Hosting24 for the hosting; I have thought about using some sort of a Donate button, but have not been able to find a platform that allows for *only* raising the target amount).</strike> (With moving to Github's gh-pages for hosting, the cost has been reduced to $12/yr, mitigating this need).</li>
            </ol>
        </p>
        <p>&nbsp;</p>
        <p>If you have any interest in seeing the continuation of this site, please <a href="mailto:admin@frclabviewtutorials.com">let me know</a>.</p>
    </div>
  </div>
</div>


<p><br/></p>
