<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    {% if page.description %}
        <meta name="description" content="FRC LabVIEW Tutorials and examples - {{ page.description }}">
    {% else %}
        <meta name="description" content="FRC LabVIEW Tutorials and examples">
    {% endif %}
    <meta name="author" content="MShafer1">

    <title>{{ page.title }} | {{ site.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/w3.css">
    <link rel="stylesheet" href="/css/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/font-awesome-animation.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">			
        
    <meta name="google-site-verification" content="Spc4kY2cm6MsyAjD_Ri6pAZzgCne_AGyj0wWbNpfaww" />

    {% include siteScripts.html %}
</head>
